body {
  margin: 0;
}
canvas {
  display: block;
  background-color: #3c2c3e;
}

input {
  position: absolute;
}

#input-color {
  width: 20px;
  height: 23px;
}

#input-text {
  outline: 0;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
